In [18]:
import pandas as pd
import numpy as np

In [19]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [20]:
d

{'a': 10, 'b': 20, 'c': 30}

In [21]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [22]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [23]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [24]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [25]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [31]:
data = pd.Series([1,2,3,4],index=['INA','JPN','USA','RSA'])

In [32]:
data

INA    1
JPN    2
USA    3
RSA    4
dtype: int64

In [30]:
data['INA']

1

In [33]:
data2 = pd.Series([1,2,4,5],index=['INA','JPN','KSA','GB'])

In [34]:
data

INA    1
JPN    2
USA    3
RSA    4
dtype: int64

In [35]:
data + data2

GB     NaN
INA    2.0
JPN    4.0
KSA    NaN
RSA    NaN
USA    NaN
dtype: float64